[submodule "lib/ncluahttp"]
	path = lib/ncluahttp
        url = https://github.com/manoelcampos/NCLuaHTTP.git 
[submodule "lib/luaxml"]
	path = lib/luaxml
        url = https://github.com/manoelcampos/xml2lua.git
